<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="/javascripts/jquery-1.11.1.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
  </head>
  <body>
   
    <h1><%= title %></h1>
    <p>Welcome to <%= user.username %></p>
    <% if(success_msg){ %>
      <h2 class="alert-danger"><%= success_msg %></h2>
    <% } %>
    <% if(user.level == 1){%>
      <a href="/stream" class="btn btn-success">Giảng dạy</a>
    <% } else{ %>  
      <a href="/stream" class="btn btn-primary">Vào học</a>
    <%}%>
  </body>
</html>
